@media (min-width: 576px) {
  .jumbotron {
    padding: 15px !important;
  }
}
.feature-top h4 {
  font-size: 24px;
  color: #002f34;
}
.feature-top a {
  display: inline;
  float: right;
  font-size: 14px;
  text-decoration: underline;
  font-weight: bold;
  color: #002f34;
}
.feature-top a:hover {
  text-decoration: none;
}
